/Laivanupotus/target/
/k2014-tira-paja/viikko1-01.5.Kirjainnelio/nbproject/private/
/k2014-tira-paja/viikko1-01.4.PieninSuurin/nbproject/private/
/k2014-tira-paja/viikko1-01.3.Palindromi/nbproject/private/
/k2014-tira-paja/viikko1-01.3.Palindromi/build/
/k2014-tira-paja/viikko1-01.4.PieninSuurin/build/
/k2014-tira-paja/viikko1-01.5.Kirjainnelio/build/